@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --background: 255 255 255;
  --foreground: 10 36 67;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}
